<h1>Listing micrposts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @micrposts.each do |micrpost| %>
      <tr>
        <td><%= micrpost.content %></td>
        <td><%= micrpost.user_id %></td>
        <td><%= link_to 'Show', micrpost %></td>
        <td><%= link_to 'Edit', edit_micrpost_path(micrpost) %></td>
        <td><%= link_to 'Destroy', micrpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micrpost', new_micrpost_path %>
